<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Attempt2.Properties.Settings.BloodBank_finalConnectionString"
            connectionString="Data Source=HU-LAIO-EHS04;Initial Catalog=BloodBank_final;Persist Security Info=True;User ID=sa;Password=Habib123##"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>